framework: >= net45
source https://api.nuget.org/v3/index.json

nuget gitlink
nuget MSBuild.Sdk.Extras
nuget NuGet.CommandLine
nuget JetBrains.Annotations copy_local:false

group cake
	framework: net45
	source https://api.nuget.org/v3/index.json
	
	nuget Cake
	nuget Cake.Figlet
	nuget Cake.Paket
	nuget Cake.Paket.Module
	nuget vswhere
	nuget GitVersion.CommandLine prerelease
	nuget gitreleasemanager