framework: >= net45
source https://api.nuget.org/v3/index.json

// copy_local: true => PrivateAssets=All, mean all these type of assets are private of the project (so no need to add the deps in the nupkg dep list)
nuget JetBrains.Annotations copy_local: true
nuget Microsoft.SourceLink.GitHub prerelease copy_local: true

group cake
	framework: net45
	source https://api.nuget.org/v3/index.json
	
	nuget Cake
	nuget Cake.Figlet
	nuget Cake.Paket
	nuget Cake.Paket.Module
	nuget vswhere
	nuget GitVersion.CommandLine prerelease
	nuget gitreleasemanager